* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
}

/* NAVBAR */
.navbar {
    background: #004aad;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    background: #fff;
}

.hero-text h1 {
    font-size: 40px;
}

.highlight {
    color: #ff6b5c;
    font-size: 45px;
    font-weight: bold;
}

.hero-img img {
    width: 250px;
}

/* ABOUT */
.about {
    padding: 40px 30px;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* SKILLS */
.skills {
    padding: 40px 30px;
}

.skill-boxes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.skill {
    background: #004aad;
    color: #fff;
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: 8px;
}

/* PROJECTS */
.projects {
    padding: 40px 30px;
}

.project-card {
    background: #fff;
    padding: 25px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* CONTACT */
.contact {
    padding: 40px 30px;
    text-align: center;
}

.contact-form {
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px;
    background: #004aad;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* BACK TO TOP BUTTON */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #004aad;
    color: #fff;
    padding: 12px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    transition: 0.3s ease;
}

.back-to-top:hover {
    background: #00327a;
}


/* FOOTER */
.footer {
    background: #004aad;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
